import React, { useEffect } from 'react';
import { Link, useSearchParams } from 'react-router-dom';
import { Row, Col, Button, Result } from 'antd';
import { Translate, getUrlParameter } from 'react-jhipster';

import { useAppDispatch, useAppSelector } from 'app/config/store';
import { activateAction, reset } from './activate.reducer';

const successAlert = (
  <Result
    status="success"
    title={
        <strong>Your user account has been activated.</strong>
    }
    extra={[
      <Button key={'signin'} type={'primary'}>
        <Link to="/login" className="alert-link">
          <Translate contentKey="global.messages.info.authenticated.link">sign in</Translate>
        </Link>
      </Button>,
    ]}
  />
);

const failureAlert = (
  <Result
    status="warning"
    title={
        <strong>Your user could not be activated. Please use the registration form to sign up.</strong>
    }
  />
);

export const ActivatePage = () => {
  const dispatch = useAppDispatch();
  const [searchParams] = useSearchParams();

  useEffect(() => {
    const key = searchParams.get("key");

    dispatch(activateAction(key));
    return () => {
      dispatch(reset());
    };
  }, []);

  const { activationSuccess, activationFailure } = useAppSelector(state => state.activate);

  return (
    <div>
      <Row justify="center">
        <Col span="8">
          <h1>
            <Translate contentKey="activate.title">Activation</Translate>
          </h1>
          {activationSuccess ? successAlert : undefined}
          {activationFailure ? failureAlert : undefined}
        </Col>
      </Row>
    </div>
  );
};

export default ActivatePage;
